body {
    padding: 40px;
}

.data {
    border: 2px solid salmon;
    border-radius: 10px;
    padding: 5px;
    margin: 2px;
}

.data h4 {
    display: inline;
    margin-top: 6px;
    margin-bottom: 6px;
}

.data ul li {
    list-style-type: circle;
    margin-left: 75px;
    margin-top: 6px;
    margin-bottom: 6px;
}

img {
    width: 50px;
    border-radius: 50px;
}